Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.32
cryptography==43.0.1
pytest==8.2.1
psycopg[binary]>=3.2.2,<3.3
gunicorn==22.0.0
boto3==1.35.12
# waitress==3.0.0
# hypercorn==0.16.0
# asgiref==3.8.1
